/* Contacts page */
body.contacts main .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}

.contact-links a {
    color: var(--text-color);
    transition: 0.3s ease;
}

.contact-links {
    padding-left: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 70vw;
    max-width: 600px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.contact-links a:hover {
    transform: scale(1.1)translateY(-10px);
}

.social-item {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.social-item a {
    text-decoration: none;
    color: inherit;
}

.social-item i {
    font-size: 1.5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;
    width: 70vw;
    max-width: 600px;
}

label {
    font-weight: bold;
}

input,
textarea {
    font-family: 'Code New Roman', sans-serif;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

input[type="reset"] {
    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;
    border-radius: 10px;
    font-family: 'Code New Roman', sans-serif;
    border: 2px solid var(--accent-color);
    cursor: pointer;
}